* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
  color: #fff;
}
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
